.page {
font-family: 'noto', sans-serif;
color: #fff;
background-image: url(../../images/test/1.jpg);
background-position: top center;
background-repeat: no-repeat;
background-size: cover;
margin: auto;
}




@media (max-width: 960px) and (min-width: 551px) {
  .page {
    background-image: url(../../images/test/1.jpg);
    background-position: top center;
    background-repeat: repeat;
    background-size: cover;
    }
    
}
