.content {
  /*background-image: url(../../images/kofe-stakany-napitok-korica.jpg);*/
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 28px 80px 28px;
  margin: auto;
}

